.jumbotron {
    margin: 5% 0;
}

.quiz-container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
} 

.row {
    margin: 10px;
}

.questions-quiz-name {
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: calc(0.3em + 3vw);
}

.quiz {
    height: 200px;
    margin: 10px 2%;
    padding: 20px;
    border-radius: 4px;
    border-color: 0;
}

.quiz-name {
    position: absolute;
    bottom: 10px;
    right: 15px;
    margin: 0;
    text-align: right;
    font-size: 2rem;
    color: rgb(16,16,16)
}

.question {
    text-align: center;
    margin: 10% 0 !important;
}

#question-input {
    margin: 5px auto;
    width: 200px !important;
}

#question-text {
    font-size: calc(0.5em + 2vw);
}

#homebtn {
    display: none;
    width: 200px;
    margin: 5px auto;
}

#feedback {
    display: none;
}

#errorMsg {
    display: none;
}

@media screen and (max-width:940px){
    .quiz {
        width: 96%
    }
}

@media screen and (min-width:940px) {
    .quiz {
        width: 46%;
    }
}

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

#logo {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20vw;
    max-width: 300px;
    min-width: 75px;
}